/.idea/
/.vscode/
/coverage/
/src/Resources/app/storefront/dist/
/src/Resources/app/storefront/node_modules/
/src/Resources/public/
/var/
/vendor/

/.phpunit.result.cache
/composer.lock
/phpstan.neon
